
.subject-title{
    color: rgb(255, 255, 255);
    height: 10vh;
    width: 60vh;
}

.subject-wrapper{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-top: 10px;
    /* flex-wrap: wrap; */   
}

.subject-button{
    margin-bottom: 10px;
    height: 5h;
    width: 25vh;
    /* box-sizing: border-box; */
    border-radius: 10px 10px;
    transition: all .3s ease;
}

.subject-button:active{
    margin-bottom: 10px;
    height: 5h;
    width: 25vh;
    /* box-sizing: border-box; */
    border-radius: 10px 10px;
    transition: all .3s ease;
    transform: scale(0.9);
}

.subject-chooser{
    transform: translateX(80px);
    height: 100px;
    width: 170px;
}

.skill-card{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    height: 500px;
    width: 800px;
    transform: translateX(400px) translateY(-150px);
    
}
.skill-heading{
    color: rgb(255, 255, 255);
}

.gif{
    height: 220px;
    width: 350px;
    border-radius: 100px 100px;
}

.skill-paragraph{
    color: rgb(255, 255, 255);
}

a{
    color: rgb(216, 191, 122)
}

ul {
    text-align: left;
    margin-left: 0.75em;
    list-style-position: inside;
 }